body.construction {
    background-image: url("01-02.png");
    background-position: top left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body.interior {
    background: url("01-02.png") no-repeat fixed;
    background-size: cover;
}

body.landscaping {
    background: url("01-02.png") no-repeat fixed;
    background-size: cover;
}

body.cleaning {
    background: url("01-02.png") no-repeat fixed;
    background-size: cover;
}

body.about {
    background: url("01-02.png") no-repeat fixed;
    background-size: cover;
}


